




div.business-card.business-card--flip
  input(type="radio" id="flip-effect--back-radio" name="flip-card__1")
  div.business-card__front
    h1.card-front__main-heading oscar rodriguez
    h2.card-front__job-title full-stack developer
    label(class="card-front__label" for='flip-effect--back-radio')
      img.card-front__flip-icon(src="../images/ic_flip_to_back_white_36dp_1x.png")


    blockquote.card-front__quote
      | Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.
      | <span class="card-front__quote-author">Thomas A.Edison</span>


    h3.card-front__email <a href="google.com">oscarrobertrodriguez@gmail.com</a>
    h3.card-front__website <a href="0#">oscarRR.com</a>


    div.social-icons
        a.social-icons__item(href="0#")
          img(src="images/twitter.png")
        a.social-icons__item(href="0#")
          img(src="images/github1.png")
        a.social-icons__item(href="0#")
          img(src="images/facebook.png")
        a.social-icons__item(href="0#")
          img(src="images/linkedin.png")


  input(type="radio" id="flip-effect--front-radio" name="flip-card__1")
  div.business-card__back
   label(class="card-back__label" for="flip-effect--front-radio")
     img.card-front__flip-icon(src="../images/ic_flip_to_back_white_36dp_1x.png")
   p(class="about__info about__info--visible")
    | Hi, I'm Oscar a student at
    a(class="about__link" href="https://bovacademy.com/")  Bov Academy.
    |  I like weight lifting, a good sci-fi movie and making cool stuff with the power of Internet.

