



div.business-card.business-card--flip

  div.business-card__front
    h1.card-front__main-heading oscar rodriguez
    h2.card-front__job-title full-stack developer


    blockquote.card-front__quote
      | Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.
      | <span class="card-front__quote-author">Thomas A.Edison</span>


    h3.card-front__email <a href="google.com">oscarrobertrodriguez@gmail.com</a>
    h3.card-front__website <a href="0#">oscarRR.com</a>


    div.social-icons
        a.social-icons__item(href="0#")
          img(src="images/twitter.png")
        a.social-icons__item(href="0#")
          img(src="images/github1.png")
        a.social-icons__item(href="0#")
          img(src="images/facebook.png")
        a.social-icons__item(href="0#")
          img(src="images/linkedin.png")



  div.business-card__back
    //img.business-card__back-image(src="images/me_new.jpg")

