
// Created on 1/31/2017




doctype html
html

    head
        // basic page needs
        title responsive portfolio
        meta(charset="utf-8")
        // mobile specific metas
        meta(name="viewport", content="width=device-width, initial-scale=1")
        // css
        link(rel="stylesheet", href="styles/main.css")


    body

        // primary page layout



        header(class="primary-header  container  margin-padding--zero")
          ul(class="primary-header__site noSelect")

            li(class="primary-header__item  primary-name__container")
              h1(class="primary-header__name  margin-padding--zero") Oscar Rodriguez

            li(class="primary-header__item  primary-search")
              input( class="primary-header__search" type="search" placeholder="search...")
              button(class="primary-header__search__btn" type="submit") search

          //div.header-liner(style="width: 100%; background: #0288D1; display:flex; height: 20px; flex-flow: column; flex: 1 0 0; ")





        nav( class="primary-nav    noSelect" role="menu")
          ul(class="primary-nav__tabs  row")



              // first tab: Projects
              li(class="primary-nav__tab")
                input(type="radio" class="primary-nav__radio" id="tab-1__primary" name="tab-group-1" checked)
                label(for="tab-1__primary" class="primary-nav__label  col-2") Projects

                div(class="primary-nav__content  project-content")

                  div(class="container  project-intro__container")
                    p.project-intro Some projects that I have built at Bov Academy. Click a tab to begin.

                  div(class="project__container  container" )

                    div(class="project-component")
                      input(type="radio" id="project__tab-01" class="radio--none" name="tab-group-2")
                      input(type="radio" id="project__tab-02"  class="radio--none" name="tab-group-2")
                      input(type="radio" id="project__tab-03"  class="radio--none" name="tab-group-2")
                      input(type="radio" id="project__tab-04"  class="radio--none" name="tab-group-2")
                      input(type="radio" id="project__tab-05" class="radio--none" name="tab-group-2")
                      input(type="radio" id="project__tab-06"  class="radio--none" name="tab-group-2")




                      // Button Web Component: first tab
                      div(class="project-component--nav  col-3" )

                        ul
                          li
                            label(for="project__tab-01"  class="project__label") Button Web Component
                          li
                            label(for="project__tab-02"  class="project__label")  Image Gallery
                          li
                            label(for="project__tab-03"  class="project__label")  Forms and inputs
                          li
                            label(for="project__tab-04"  class="project__label")  calculator
                          li
                            label(for="project__tab-05"  class="project__label")  Product Listing page
                          li
                            label(for="project__tab-06"  class="project__label")  css accordion





                                                                                //- Begin carousel section
                      div(class="project-component--showcase container")





                        div(class="project-content__carousel col-9")

                          ul(class="project-carousel ")
                            input(type="radio" id="1" name="activator" checked="checked"  class="project-carousel--activator")
                            input(type="radio" id="2" name="activator"   class="project-carousel--activator")
                            input(type="radio" id="3" name="activator"   class="project-carousel--activator")

                            div(class="project-carousel__controls")
                              label(for="2" class="project-carousel__control  control--backward")
                              label(for="3" class="project-carousel__control  control--forward")

                            div(class="project-carousel__controls")
                              label(for="3" class="project-carousel__control  control--backward")
                              label(for="1" class="project-carousel__control  control--forward")


                            div(class="project-carousel__controls")
                              label(for="1" class="project-carousel__control  control--backward")
                              label(for="2" class="project-carousel__control  control--forward")


                            div(class="project-carousel--record__player")


                              //  track 1
                              div(class="project-carousel__track")
                                li(class="project-carousel__slide")
                                  div(class="slide  container")
                                    div(class="col-8 col-centered  slide__info  slide__info--large  centered")
                                      p These buttons were made using html and css only



                                li(class="project-carousel__slide")
                                  div(class="slide  ")
                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/btns.png")

                                    div(class="col-8 col-centered  slide__info  slide__info--small  centered")
                                      p These buttons were made using html and css only

                                li(class="project-carousel__slide")
                                  div(class="slide  container")

                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/btns-gif.gif")

                                    div(class="col-8 col-centered  slide__info  slide__info--small")

                                      ul(class="slide-links")

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://github.com/OscarRobertRodriguez/learning-web-components") view source

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://oscarrobertrodriguez.github.io/learning-web-components/components/buttons/") view demo



                              // track 2
                              div(class="project-carousel__track")
                                li(class="project-carousel__slide")
                                  div(class="slide  container")
                                    div(class="col-8 col-centered  slide__info  slide__info--large  centered")
                                      p Image Gallery that is built using css and html only.



                                li(class="project-carousel__slide")
                                  div(class="slide  ")
                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/image gallery.png")

                                    div(class="col-8 col-centered  slide__info  slide__info--small  centered")
                                      p Image Gallery that is built using css and html only.

                                li(class="project-carousel__slide")
                                  div(class="slide  container")

                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/imageGallery.gif")

                                    div(class="col-8 col-centered  slide__info  slide__info--small")

                                      ul(class="slide-links")

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://github.com/OscarRobertRodriguez/bov-imageGallery") view source

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://oscarrobertrodriguez.github.io/bov-imageGallery/") view demo



                              // track 3
                              div(class="project-carousel__track")
                                li(class="project-carousel__slide")
                                  div(class="slide  container")
                                    div(class="col-8 col-centered  slide__info  slide__info--large  centered")
                                      p various forms such as shopping cart and login forms used html, css, and javascript for validation


                                li(class="project-carousel__slide")
                                  div(class="slide  ")
                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/loginform.png")

                                    div(class="col-8 col-centered  slide__info  slide__info--small  centered")
                                      p various forms such as shopping cart and login forms used html, css, and javascript for validation


                                li(class="project-carousel__slide")
                                  div(class="slide  container")

                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/loginForm.gif")

                                    div(class="col-8 col-centered  slide__info  slide__info--small")

                                      ul(class="slide-links")

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://github.com/OscarRobertRodriguez/md-forms") view source

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://oscarrobertrodriguez.github.io/md-forms/") view demo




                              // track 4
                              div(class="project-carousel__track")
                                li(class="project-carousel__slide")
                                  div(class="slide  container")
                                    div(class="col-8 col-centered  slide__info  slide__info--large  centered")
                                      p calculator uses html, css and javascript


                                li(class="project-carousel__slide")
                                  div(class="slide  ")
                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/calculator.png")

                                    div(class="col-8 col-centered  slide__info  slide__info--small  centered")
                                      p calculator uses html, css and javascript


                                li(class="project-carousel__slide")
                                  div(class="slide  container")

                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/calculator.gif")

                                    div(class="col-8 col-centered  slide__info  slide__info--small")

                                      ul(class="slide-links")

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://github.com/OscarRobertRodriguez/calculator") view source

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://oscarrobertrodriguez.github.io/calculator/") view demo




                              // track 5
                              div(class="project-carousel__track")
                                li(class="project-carousel__slide")
                                  div(class="slide  container")
                                    div(class="col-8 col-centered  slide__info  slide__info--large  centered")
                                      p shopping cart that is built using css, html and javascript


                                li(class="project-carousel__slide")
                                  div(class="slide  ")
                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/shoppingCart.png")

                                    div(class="col-8 col-centered  slide__info  slide__info--small  centered")
                                      p shopping cart that is built using css, html and javascript


                                li(class="project-carousel__slide")
                                  div(class="slide  container")

                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/shoppingCart.gif")

                                    div(class="col-8 col-centered  slide__info  slide__info--small")

                                      ul(class="slide-links")

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://github.com/OscarRobertRodriguez/product-listing") view source

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="https://oscarrobertrodriguez.github.io/product-listing/") view demo



                              // track 6
                              div(class="project-carousel__track")
                                li(class="project-carousel__slide")
                                  div(class="slide  container")
                                    div(class="col-8 col-centered  slide__info  slide__info--large  centered")
                                      p accordion that is built using css, html.


                                li(class="project-carousel__slide")
                                  div(class="slide  ")
                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/accordian.png")

                                    div(class="col-8 col-centered  slide__info  slide__info--small  centered")
                                      p accordion that is built using css, html.


                                li(class="project-carousel__slide")
                                  div(class="slide  container")

                                    div(class="col-8  col-centered  slide__image")
                                      img(class="col-10 slide-image__source  margin-padding--zero col-centered"  src="images/accordian.gif")

                                    div(class="col-8 col-centered  slide__info  slide__info--small")

                                      ul(class="slide-links")

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="http://codepen.io/nopity/pen/oBXpXW") view source

                                        li(class="slide-links__item")
                                          a(class="slide-links__link" href="http://codepen.io/nopity/pen/oBXpXW") view demo






                          div(class="project-carousel__indicators")
                                      label(for="1" class="project-carousel__indicator")
                                      label(for="2" class="project-carousel__indicator")
                                      label(for="3" class="project-carousel__indicator")















              // End Project tab component













              // second tab  About
              li(class="primary-nav__tab")
                input(type="radio" class="primary-nav__radio" id="tab-2__primary" name="tab-group-1")
                label(for="tab-2__primary" class="primary-nav__label  col-2") About

                div(class="primary-nav__content  about-content")

                  div(class="container  about")
                    include business-card


                    div.about-me
                      p(class="about__info")
                        | Hi, I'm Oscar a student at
                        a(class="about__link" href="https://bovacademy.com/")  Bov Academy.
                        |  I like weight lifting, a good sci-fi movie/game and making cool stuff with the power of Internet.










              // third tab Skills
              li(class="primary-nav__tab")
                input(type="radio" class="primary-nav__radio" id="tab-3__primary" name="tab-group-1")
                label(for="tab-3__primary" class="primary-nav__label  col-2") Skills

                div(class="primary-nav__content")
                  include skills











              // last and fourth tab : Contact
              li(class="primary-nav__tab")
                input(type="radio" class="primary-nav__radio" id="tab-4__primary" name="tab-group-1")
                label(for="tab-4__primary" class="primary-nav__label col-2") Contact

                div(class="primary-nav__content  contact-content" )



                  form(class="primary-form")
                    h2(class="primary-form__title") Let's build something

                    ul(class="primary-form__inputs__container  col-12  hide-grid")

                      li(class="primary-form__item")
                        input(class="primary-form__name  primary-form__input--animate  modern__input" type="text" required)
                        label(class="primary-form__label--animate") Name

                      li(class="primary-form__item")
                        input(class="primary-form__email  primary-form__input--animate  modern__input" type="text" required)
                        label(class="primary-form__label--animate") Email

                    div(class="primary-form__textarea__container")
                      textarea(class="primary-form__comment " placeholder="comment here...")


                    button(class="primary-form__button" type="submit") send










        footer(class="primary-footer container")
          div.primary-footer__wrapper
            div.primary-footer__social-icons.primary-footer__item
              a(href="https://github.com/OscarRobertRodriguez")
                img(src="images/github2.png")
              a(href="https://github.com/OscarRobertRodriguez")
                img(src="images/twitter.png")
              label(for="tab-4__primary")
                img(src="images/email.png")

            p.primary-footer__name.primary-footer__item
             | oscar rodriguez

            p.primary-footer__copyright.primary-footer__item
             | &#169; All rights reserved.