


/* Top Long bar colors that sits always at the top of graphs */

$graph-1__completion-bar: #FD5A59;
$graph-2__completion-bar: #4870EE;



/* border bottom color that makes runs across the bars and learning levels */

$graph__border-bottom: #E1E1E1;

/* Bar graph colors */

$bar-1 : #FFAB31;
$bar-2 : #31BBF2;
$bar-3 : #67D218;
$bar-4 : #FB89AF;
$bar-5 : #EFE200;
