

/*------------------------------------*\
  #CONTACT__FORM
\*------------------------------------*/










.primary-form {
  margin: auto;
  overflow: hidden;
  padding: 30px 80px;
  padding-bottom: 50px;

  @include forSmallScreens(760) {
    padding: 30px 20px;
  }

  @include forSmallScreens(460) {
    padding: 30px 0px;
  }


  & h2 {
    width: 100%;
    min-width: 100%;
    text-align: left;
    margin: 0;
    white-space: nowrap;
    font-size: 2.5em;
    text-transform: capitalize;
    text-align: center;
    color: #212121;

    &::before, &::after {
      font-family: "leagueGothicRegular", sans-serif;
      content: "\00d7 \00d7 \00d7";
      color: #c83f3f;
    }

    &::before {
      margin-right: 15px;
    }

    &::after {
      margin-left: 10px;
    }

    @include forSmallScreens(760) {
      font-size: 1.5em;
      text-align: center;
    }

    @include forSmallScreens(360) {
      font-size: 1em;
    }
  }

  &__inputs__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0;

  }


  &__item  {
    position: relative;
    display: flex;
    flex: 0 0 300px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0px;


  }

  &__name, &__email {
    padding-top: 40px;
    width: 400px;

    @include forSmallScreens(600) {
      width: 300px;
    }

  }

  &__input--animate {

    &:focus {
      border-bottom: 2px solid black;
    }

    &:focus ~ label {
      top: 20px;
      color: deeppink;

    }

    &:valid ~ label {
      top: 1px;
    }

  }



  &__label--animate {
    position: absolute;
    transition: top .1s ease, left .1s ease;
    top: 50px;
    left: 20px;
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;


  }


  &__textarea__container {
    width: 100%;
    outline: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }



  &__comment {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: block;
    outline: none;
    border: 1px solid black;
    padding: 20px;
    min-height: 200px;
    max-height: 200px;
    resize: none;
    overflow: auto;

    @include forSmallScreens(460) {
      max-width: 300px;
    }
  }


  &__button {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: block;
    padding: 10px;
    border: none;
    line-height: 2;
    height: auto;
    font-size: 2em;
    font-variant: small-caps;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #03A9F4;
    box-shadow: 0px 2px 10px lightgrey;
    transition: background .2s ease;

    @include forSmallScreens(460) {
      max-width: 300px;
    }

    &:hover {
      background: #0288D1;
    }
  }


}

