



/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

html {
 min-width: 50%

}

body {
  font-size: 100%;


}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


.box {
  padding: 5px;
  border: 1px solid red;
  margin:0;
}


.margin-padding--zero {
  margin:0;
  padding:0;
}


.noSelect {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


.hide-grid {
  border: none;
  background-color: #fff;
}


.modern__input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  width: 250px;
  z-index:  1;
}


.radio--none {
  display: none;
}


.col-centered {
  float: none;
  margin: 0 auto;
}


.slide__info--large {
  height: 500px;
}

.slide__info--small {
  height: 150px;
}

.centered {

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}


input[type="radio"] {
  display: none;
}






/*------------------------------------*\
  Media Object
\*------------------------------------*/



.media {
  display: flex;
  align-items: flex-start;
}



.media-figure {
  margin-right: 1em;
}



.media-body {
  flex: 1;
}


/*------------------------------------*\
  Mixins
\*------------------------------------*/



@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
