
/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/



/* styling for tabs navigation */

.primary-nav {
  padding: 0;
  border: none;
  height: 100%;
  width: 100%;

  @include forSmallScreens(1024) {
    height: auto;
  }

  // .primary-nav__tabs for the ul nav container
  &__tabs {
    position: relative;
    min-height: 700px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    @include forSmallScreens(1024) {

      width: 100%;
      display: block;

    }
  }


  // targets the li elements of nav
  &__tab {
    flex: 1 0 200px;

    @include forSmallScreens(1024) {

      flex: 1 0 600px;
      margin: 10px;

    }

    @include forSmallScreens(600) {
      flex: 1 0 300px;
      margin: 10px;
    }

  }

  &__radio {
    display: none;
  }

  &__label {
    font-family: leagueGothicRegular;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: 3px;
    position: relative;
    width: 100%;
    font-size:1.9em;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;

    background: #fff;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #ccc;
    left: 1px;


    &:hover {
      letter-spacing: 0;
      z-index: 3;
      background: linear-gradient(181deg, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 20%, rgba(247,247,247,1) 66%, rgba(202,202,202,1) 89%, rgba(191,191,191,1) 95%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#BFBFBF',GradientType=0 ); /* ie6-9 */
      border-bottom: 10px solid black;
    }



    @include forSmallScreens(1024) {

    }


  }


  &__content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 100px;
    background: #fff;
    padding: 0;
    height: 1000px;




    @include forSmallScreens(1024) {
      overflow: hidden;
      position: relative;
      max-height: 0em;
      border: none;
      width: 100%;
      opacity: 0;
      top: 0;
      //transform: translate3d(0,0,0);
      transition: max-height 1s ease-in-out, opacity 1.2s ease;
    }

    @include forSmallScreens(600) {

    }

    @include forSmallScreens(460) {

    }


  }

  // these styles give the ability for tabs to change
  &__radio:checked ~ label {
    outline: none;
    background: white;
    border-bottom: 8px solid black;
    z-index:3;
    letter-spacing: 0;
    background: linear-gradient(181deg, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 20%, rgba(247,247,247,1) 66%, rgba(202,202,202,1) 89%, rgba(191,191,191,1) 95%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#BFBFBF',GradientType=0 ); /* ie6-9 */

    @include forSmallScreens(1024) {
      z-index: 0;

    }

  }

  &__radio:checked ~ .primary-nav__content {
    z-index: 2;
    padding: 20px;
    min-height: 80em;


    @include forSmallScreens(1274) {
      min-height:  120em
    }



    @include forSmallScreens(1024) {
      max-height: 120em;
      //transition: max-height .3s ease-in-out;
      opacity: 1;
      min-height: 115em;
      padding: 0;
    }

  }


}


.primary-nav__radio:checked ~ .contact-content,
.primary-nav__radio:checked ~ .about-content {

  @include forSmallScreens(1024) {
    max-height: 50em;
    min-height: 50em;
  }
}

.primary-nav__radio:checked ~ .project-content {

  @include forSmallScreens(1024) {
    max-height: 80em;
    min-height: 80em;
  }
}
