
/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/




$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);
$timing: .4s;

/* styling for tabs navigation */

.primary-nav {
  padding: 0;
  border: none;
  height: 100%;
  width: 100%;

  @include forSmallScreens(1024) {
    height: auto;
  }

  // .primary-nav__tabs for the ul nav container
  &__tabs {
    position: relative;
    min-height: 700px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    @include forSmallScreens(1024) {

      width: 100%;
      display: block;

    }
  }


  // targets the li elements of nav
  &__tab {
    flex: 1 0 200px;

    @include forSmallScreens(1024) {

      flex: 1 0 600px;


    }

    @include forSmallScreens(600) {
      flex: 1 0 300px;
    }

  }

  &__radio {
    display: none;
  }

  &__label {

    font-weight: 900;
    cursor: pointer;
    letter-spacing: 10px;
    position: relative;
    width: 100%;
    font-size: 2.2em;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: #03A9F4;

    left: 1px;
    transition: background .2s ease;


    &:hover {
      z-index: 3;
      border-bottom: 10px solid #FF4081;
      background: #0288D1;
    }



    @include forSmallScreens(1024) {

    }


  }


  &__content {
    position: absolute;
    right: 0;
    left: 0;
    top: 120px;
    background: #fff;
    padding: 0;
    height: 650px;




    @include forSmallScreens(1024) {
      overflow: hidden;
      position: relative;
      max-height: 0em;
      border: none;
      width: 100%;
      opacity: 0;
      top: 0;
      //transform: translate3d(0,0,0);
      transition: max-height $timing $ease;
    }



  }

  // these styles give the ability for tabs to change
  &__radio:checked ~ label {
    outline: none;
    border-bottom: 10px solid #FF4081;
    z-index:3;

    @include forSmallScreens(1024) {
      z-index: 0;

    }

  }

  &__radio:checked ~ .primary-nav__content {
    z-index: 2;






    @include forSmallScreens(1024) {
      max-height: 98em;
      min-height: 98em;
      opacity: 1;
      padding: 0;
    }

  }


}


.primary-nav__radio:checked ~ .contact-content,
.primary-nav__radio:checked ~ .about-content {

  @include forSmallScreens(1024) {
    max-height: 42em;
    min-height: 42em;
  }
}

.primary-nav__radio:checked ~ .project-content {

  @include forSmallScreens(1024) {
    max-height: 60em;
    min-height: 60em;
  }

  @include forSmallScreens(870) {
    max-height: 80em;
    min-height: 80em;
  }
}
